// GoogleFont <uniquifier>: Use-a unique and descriptive class name

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;
} 

// GoogleFont <uniquifier>: Use-a unique and descriptive class name

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: normal;
}


#header {
    background-color: #f1f1f1; /* Grey background */
    padding: 50px 10px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }

  img {
    border-radius: 5px;
    ;
  }


body {

    background-color: #FFFCF5;

}

  /* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #FFFCF5;
    padding: 20px 10px;
    border-radius: 5px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color:#374375;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #FFFCF5;
    color:#374375;
    text-decoration: underline;
    text-decoration-thickness: auto;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #374375;
    color: #F7F2EB;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  /* container */
.two-columns {
    display:flex;
}

/* columns */
.two-columns > * {
    padding:1rem;
}

.left-sidebar {
    float: left;
    width: 40%;
    padding:1rem;
    margin-left: 10px;
    }

.right-sidebar {
    float: left;
    width: 60%;
    padding:1rem;
    margin-right: 10px;
}

/* Responsive behavior for smaller screens */
@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
    .left-sidebar,
    .right-sidebar {
      width: 100%; /* Set width to 100% for stacking on smaller screens */
      margin-left: 0;
      margin-right: 0;
    }
  }


.JM-Logo {
    margin-left: 30px;
}

/* Jamie Homepage Image */
.jamieHomePageImage {
    max-width: 100%;
    height: 30vw;
    border-radius: 12.75px;
    margin-left: 100px;}

footer {
    background-color: #FFFCF5; /* Optional background color */
    padding: 10px; /* Optional padding */
    text-align: center; /* Center the content horizontally */
  }

  footer ul {
    list-style: none; /* Remove default bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: inline-flex; /* Arrange icons inline */
  }

  footer ul li {
    margin: 5px; /* Add spacing between icons */
  }

  footer ul li a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  
  footer ul li a:hover {
    color: #000; /* Change color on hover (optional) */
  }

  footer ul li img {
    width: 25px; /* Set image width */
    height: 25px; /* Set image height */
    top: 10px;
  }

  footer ul li a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  
  footer ul li a.icon .hover-icon {
    position: relative;
    top: 0px;
    right: 29px;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
  }
  
  footer ul li a.icon:hover .hover-icon {
    opacity: 1;
    overflow: hidden;
  }

h1 {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;

    padding: 2px;
    font-size: 25px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

p {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;

    padding: 2px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

.blog-text {
    color: #374375;
    font-family: "Montserrat",  text-align: center;
    vertical-align: middle;
    padding: 2px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;-serif;
  }

h4 {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

h5 {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    color: #374375;
    background: #FFFCF5;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .blogImage {
    background-color: #FFFCF5;
    height: 30em;
    width: auto; /* Adjust as needed */
    padding: 20px;
    display: flex;
    justify-content: center;
}
  
  /* Add a card effect for articles */
  .card {
    border-top:1px solid #374375; /* Changed color and thickness */
    background-color: #FFFCF5;
    border-radius: 10 px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 1px;
  }

  .card-2 {
    border-bottom:1px solid #374375; /* Changed color and thickness */
    border-top:1px solid #374375; /* Changed color and thickness */
    background-color: #FFFCF5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 1px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }