/*  FONTS /*/ 

/*  Montserrat Font /*/ 
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;
} 

/*  Lora Font /*/ 
.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: normal;
}

/*  BODY /*/ 
/*  Body styles /*/ 
body {
    background-color: #FFFCF5;
}

/*  HEADER /*/ 
/*  Header styles /*/ 
.header {
  overflow: hidden;
  background-color: #FFFCF5;
  padding: 20px 10px;
  border-radius: 5px;
}

/* Header Links Styles */
.header a {
  float: left;
  color:#374375;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

/* Hover over behaviour for header */
.header a:hover {
  background-color: #FFFCF5;
  color:#374375;
  text-decoration: underline;
  text-decoration-thickness: auto;
}

/* Style the active/current link*/
.header a.active {
  background-color: #374375;
  color: #F7F2EB;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Header Logo*/
.JM-Logo {
    margin-left: 30px;
}

/*  COLUMNS /*/ 

/* Creates two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }












footer {
    background-color: #FFFCF5; /* Optional background color */
    padding: 10px; /* Optional padding */
    text-align: center; /* Center the content horizontally */
  }

  footer ul {
    list-style: none; /* Remove default bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: inline-flex; /* Arrange icons inline */
  }

  footer ul li {
    margin: 5px; /* Add spacing between icons */
  }

  footer ul li a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  
  footer ul li a:hover {
    color: #000; /* Change color on hover (optional) */
  }

  footer ul li img {
    width: 25px; /* Set image width */
    height: 25px; /* Set image height */
    top: 10px;
  }

  footer ul li a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  
  footer ul li a.icon .hover-icon {
    position: relative;
    top: 0px;
    right: 29px;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
  }
  
  footer ul li a.icon:hover .hover-icon {
    opacity: 1;
    overflow: hidden;
  }

h1 {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;

    padding: 2px;
    font-size: 25px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

p {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;

    padding: 2px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

.blog-text {
    color: #374375;
    font-family: "Montserrat",  text-align; center;
    vertical-align: middle;
    padding: 2px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;-serif;
  }

h4 {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

h5 {
    float: center;
    color:#374375;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}
  
  body {
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    color: #374375;
    background: #FFFCF5;
  }
